<p>footer works!</p>
<footer>
    <div class="footer-area mt-5">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="footer-box about-widget">
              <h2 class="widget-title mb-3">About us</h2>
              <p>
                Ut enim ad minim veniam perspiciatis unde omnis iste natus error
                sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam, eaque ipsa quae.
              </p>
            </div>
          </div>
          <div class="col-3">
            <div class="footer-box get-in-touch">
              <h2 class="widget-title mb-3">Get in Touch</h2>
              <ul>
                <li>34/8, East Hukupara, Gifirtok, Sadan.</li>
                <li>support@fruitkha.com</li>
                <li>+00 111 222 3333</li>
              </ul>
            </div>
          </div>
          <div class="col-3">
            <div class="footer-box pages">
              <h2 class="widget-title mb-3">Pages</h2>
              <ul class= "foot-align">
                <li><a routerLogin ="home">Home</a></li>
                <li><a routerLogin ="about" class="text-decoration-none">About</a></li>
                <li><a routerLogin ="pages" class="text-decoration-none">Pages</a></li>
                <li><a routerLogin ="news" class="text-decoration-none">News</a></li>
                <li><a routerLogin ="contact" class="text-decoration-none">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>