.footer-area{
    background-color: #051922;
    height: 300px;
    color: white;
}
.foot-align{
    list-style-type: none;
}
.footer-box h2{
      font-weight: bolder;
}
.foot-align a{
    color: white
}