<!--caraousel-->
<section>
  <div
    id="carouselExampleInterval"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner carousel-bg">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="banner-wrapper ">
          <div class="text-center carousel-align">
            <p>Fresh Everyday</p>
            <h1>100% Organic Collection</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="banner-wrapper ">
          <div class="text-start carousel-align">
            <p>Fresh Everyday</p>
            <h1>100% Organic Collection</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
          <div class="banner-wrapper text-end carousel-align">
            <p>Fresh Everyday</p>
            <h1>100% Organic Collection</h1>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</section>
<!--caraousel-->

<!--section-2-->
<section>
  <div class="refund mt-5">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="content">
            <h3>Free shipping</h3>
            <p>When order over $75</p>
          </div>
        </div>
        <div class="col-4">
          <div class="content">
            <h3>24*7</h3>
            <p>Get support all day</p>
          </div>
        </div>
        <div class="col-4">
          <div class="content">
            <h3>Refund</h3>
            <p>Get refund within 3 days</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section-2-->

<!--section-3-->
<section>
  <div class="section-3 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title">
            <h3>
              <span class="text-orange">Our</span>
              Products
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid,
              fuga quas itaque eveniet beatae optio.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/img/products/product-img-1.jpg"
                class="card-img-top"
                alt="Strawberry"
              />
              <div class="card-body text-center">
                <h3>Strawberry</h3>
                <p>
                  <span>per kg</span><br />
                  85$
                </p>
              </div>
              <div class="button text-center">
                <button type="button" class="btn btn-outline-primary">
                  Add to cart
                </button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/img/products/product-img-2.jpg"
                class="card-img-top"
                alt="Grapes"
              />
              <div class="card-body text-center">
                <h3>Grapes</h3>
                <p>
                  <span>per kg</span><br />
                  70$
                </p>
              </div>
              <div class="button text-center">
                <button type="button" class="btn btn-outline-primary">
                  Add to cart
                </button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card" style="width: 18rem">
              <img
                src="../../assets/img/products/product-img-3.jpg"
                class="card-img-top"
                alt="lemon"
              />
              <div class="card-body text-center">
                <h3>Lemon</h3>
                <p>
                  <span>per kg</span><br />
                  30$
                </p>
              </div>
              <div class="button text-center mb-3">
                <button type="button" class="btn btn-outline-primary">
                  Add to cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section-3-->

<!--section-4-->
<section>
  <div class="section-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title">
            <h3>
              <span class="text-orange">Our</span>
              Customers
            </h3>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-3">
          <img src="../../assets/img/company-logos/1.png" alt="logo-1" />
        </div>
        <div class="col-3">
          <img src="../../assets/img/company-logos/2.png" alt="logo-2" />
        </div>
        <div class="col-3">
          <img src="../../assets/img/company-logos/3.png" alt="logo-3" />
        </div>
        <div class="col-3">
          <img src="../../assets/img/company-logos/4.png" alt="logo-4" />
        </div>
      </div>
    </div>
  </div>
</section>
<!--section-4-->

<!--footer-->


<router-outlet></router-outlet>